/* universal styles: */

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    font-family: sans-serif;
}

body {
    background-color: #f0f0f0;
}

html, body {
    overflow-x: hidden;
    max-width: 100%;
}

/* header styles: */

header .header-img {
    height: 100vh;
}

header .header-bg-div {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .5;
    z-index: 1;
}

header .header-info {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    color: #f0f0f0;
    font-size: 2.5rem;
}

header .header-btn {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: none;
    font-size: 2.5rem;
    color: #f0f0f0;
    border: .5rem solid #f0f0f0;
    border-radius: .5rem;
    padding: 3rem;
    z-index: 2;
    animation-name: animateHeaderBtn;
    animation-duration: 1s;
    animation-delay: .5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

header .header-btn:focus {
    outline: none;
}

.header-collapse {
    animation-name: headerCollapse;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes headerCollapse {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes animateHeaderBtn {
    0% {
        top: 100%;
    }
    100% {
        top: 70%;
    }
}

@media screen and (min-width: 768px) {
    header .header-btn {
        font-size: 5rem;
        padding: 5rem;
        border: 1rem solid #f0f0f0;
        border-radius: 1rem;
    }

    header .header-info {
        font-size: 4rem;
    }

    @media screen and (orientation: landscape) {
        header .header-img {
            width: 100vw;
        }
    
        header .header-info {
            top: 30%;
        }
    
        header .header-btn {
            font-size: 3rem;
            padding: 3rem;
        }

        @keyframes animateHeaderBtn {
            0% {
                top: 100%;
            }
            100% {
                top: 60%;
            }
        }
    }
}

/* main styles: */

/* about styles: */

.about {
    width: 100vw;
    padding: 2rem 0;
    background-color: #2191fb;
    position: relative;
}

.about .about-info {
    width: 80%;
    margin: 0 auto;
    color: #f0f0f0;
    font-size: 2rem;
    text-align: center;
    line-height: 3rem;
}

.about .about-img {
    width: 15rem;
    height: 10rem;
    border-radius: 50%;
    border: 1rem solid #fffaff;
    margin: 2rem auto;
    display: block;
}

.about .about-arrow {
    width: 0; 
    height: 0; 
    border-left: 4rem solid transparent;
    border-right: 4rem solid transparent;
    border-bottom: 4rem solid #fffaff;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.about .about-rect {
    width: 3rem;
    height: 12rem;
    background-color: #fffaff;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    color: #f0f0f0;
    font-size: 5rem;
}

.about .about-rect .rect-info {
    transform: translateX(150%);
    display: block;
}

@media screen and (min-width: 768px) {
    .about .about-img {
        width: 30rem;
        height: 25rem;
        margin: 4rem auto;
    }

    .about .about-info {
        font-size: 5rem;
        line-height: 10rem;
    }

    .about .about-arrow {
        border-left: 8rem solid transparent;
        border-right: 8rem solid transparent;
        border-bottom: 8rem solid #fffaff;
    }
    
    .about .about-rect {
        width: 6rem;
        height: 20rem;
        font-size: 7rem;
    }
}

/* skills styles: */

.skill-odd {
    background-color: #a4031f;
    color: #0f0f0f;
}

.skill-even {
    background-color: #0c1713;
    color: #f0f0f0;
}

.skill-even, .skill-odd {
    padding: 2rem;
    width: 50vw; 
    height: auto;
}

.skill-even::after {
    content: '\A';
}